<div id="booking-form">
  <form action="/" method="post">
    <div id="name">
      <input type="text" placeholder="Keresztnév" />
      <input type="text" placeholder="Vezetéknév" />
    </div>
    <input type="email" placeholder="Email" />
    <input type="text" placeholder="Telefonszám" />
    <div id="locations">
      <input type="text" placeholder="Honnan?" />
      <img src="icons/arrow.png" alt="" id="arrow" />
      <input type="text" placeholder="Hova?" />
    </div>
    <div id="checkboxes">
      <div id="baggage-container" class="checkbox">
        <label for="baggage"><p>Poggyász</p></label>
        <input type="checkbox" id="baggage" class="slider"/>
      </div>
      <div id="return-container" class="checkbox">
        <label for="return"><p>Retúr</p></label>
        <input type="checkbox" id="return" class="slider"/>
      </div>
    </div>
  </form>
</div>
