@import "../../../styles/variables";

footer {
  width: 100%;
  height: 70%;
  background-color: $secondary-color;
  display: flex;
  clip-path: polygon(
    0% 10%,
    20% 10%,
    25% 0%,
    75% 0%,
    80% 10%,
    100% 10%,
    100% 100%,
    0% 100%
  );
  justify-content: center;
  padding-top: 10%;
  margin-top: -10%;

  img {
    position: absolute;
    padding: 5px 1rem 5px 1rem;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    object-fit: cover;
    user-select: none;
  }

  .contentContainer {
    display: flex;
    z-index: 10;

    .content {
      margin: 10%;

      h1 {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 7%;
        margin: 4%;
        font-family: Panchang;
        font-weight: 400;
        color: $main-color;
        text-transform: capitalize;
      }

      ul {
        display: flex;
        flex-direction: column;
        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: $main-color;
            font-family: Satoshi;
            font-size: larger;
            text-transform: capitalize;
          }

          a::after {
            content: " )";
            opacity: 0;
            transition: all 0.2s ease;
          }

          a::before {
            content: "( ";
            opacity: 0;
            transition: all 0.3s ease;
          }

          a:hover::after {
            opacity: 1;
          }

          a:hover::before {
            opacity: 1;
          }
        }
        @media (max-width: 1100px) {
          align-items: center;
          justify-content: center;
        }
      }
    }
    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 1100px) {
    clip-path: polygon(
      0% 5%,
      10% 5%,
      15% 0%,
      85% 0%,
      90% 5%,
      100% 5%,
      100% 100%,
      0% 100%
    );
  }
}
