<div class="navbar hide">
  <div id="homeIcon"><img src="icons/home.png" alt=""></div>
  <img id="logo" src="SVG/logo_szurke_2.svg" alt="logo" />
  <div class="navbarItem">
    <a href="/about">Rólam</a>
    <button>Foglalás</button>
  </div>
  <div class="navIcon" (click)="openNavigation()">
    <span></span>
    <span></span>
  </div>
</div>

<nav [class.visible]="showNavbar">
  <ul>
    <li><a href="/">főoldal</a></li>
    <li><a style="pointer-events: none">foglalás</a></li>
    <li><a href="/about">rólam</a></li>
  </ul>
</nav>
