@import "../../../styles/variables";

nav {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, $main-color, $antracit);
  position: fixed;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  top: -100vh;
  transition: top 0.3s ease;
  z-index: 10;

  ul {
    li {
      list-style: none;
      a {
        float: right;
        display: block;
        min-width: 30vw;
        padding-right: 10rem;
        color: $secondary-color;
        margin: 1rem;
        font-family: "Panchang";
        font-size: 7rem;
        text-transform: capitalize;
        text-decoration: none;
        transition: all 0.5s ease;
      }

      .active {
        // color: $main-color;
      }

      a::after {
        content: " )";
        opacity: 0;
        transition: all 0.2s ease;
        text-decoration: none !important;
      }

      a::before {
        content: "( ";
        opacity: 0;
        transition: all 0.3s ease;
        text-decoration: none !important;
      }

      a:hover::after {
        opacity: 1;

      }

      a:hover::before {
        opacity: 1;
      }
    }

    li:nth-child(2) > a {
      opacity: 0.2;
    }

    li:nth-child(2) > a:hover {
      font-size: 7rem;
      cursor: default;
    }
  }
}

.visible {
  top: 0;
}

@keyframes flyIn {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 8%;

  img {
    padding: 0.5rem;
    z-index: 11;
  }

  .navIcon {
    margin: auto 2rem auto 0;
    width: 2rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 11;

    span {
      position: absolute;
      display: block;
      height: 4px;
      width: 2rem;
      background-color: $secondary-color;
      border-radius: 4px;
      transition: transform 0.2s ease-in-out;
    }

    span:first-child {
      margin-top: -0.6rem;
    }

    span:last-child {
      margin-top: 0.6rem;
    }

    span.open:first-child {
      transform: rotate(45deg);
      margin-top: 0;
    }

    span.open:last-child {
      transform: rotate(-45deg);
      margin-top: 0;
    }
  }
}
