@import "../../../styles/variables";

.cardBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20rem + 3px);
  height: calc(30rem + 3px);
  margin: 1rem;
  background: linear-gradient(
    55deg,
    rgb(55, 55, 57) 30%,
    $secondary-color,
    rgb(55, 55, 57) 90%
  );
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;

  .card {
    display: flex;
    justify-content: center;
    padding: 4rem 0 4rem 0;
    width: 20rem;
    height: 30rem;
    background: linear-gradient(
      55deg,
      rgb(24, 24, 27),
      rgb(24, 24, 27) 30%,
      rgb(39, 39, 39),
      rgb(24, 24, 27),
      rgb(24, 24, 27) 100%
    );
    border-radius: inherit;
    transition: all 0.3s ease-in-out;
    box-shadow: 0.5rem 1rem 0.4rem rgba(0, 0, 0, 0.25);

    #title {
      color: $secondary-color;
      font-family: Panchang;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .card:hover {
    width: 21rem;
    height: 31rem;
    box-shadow: 0.7rem 1.4rem 0.4rem rgba(0, 0, 0, 0.2);
    background: linear-gradient(
      55deg,
      rgb(29, 29, 32),
      rgb(29, 29, 32) 28%,
      rgb(49, 49, 49),
      rgb(29, 29, 32),
      rgb(29, 29, 32) 98%
    );
  }
}

.cardBorder:has(.card:hover) {
  width: calc(21rem + 3px);
  height: calc(31rem + 3px);
  background: linear-gradient(
    55deg,
    rgb(65, 65, 67) 30%,
    $secondary-color,
    rgb(65, 65, 67) 90%
  );
}
