@import "../../../styles/variables";

.cardBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(20rem + 3px);
  height: calc(30rem + 3px);
  margin: 1rem;
  background: linear-gradient(
    55deg,
    rgb(55, 55, 57) 30%,
    $secondary-color,
    rgb(55, 55, 57) 90%
  );
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 3rem 4rem 3rem;
    max-width: 20rem;
    height: 30rem;
    background: linear-gradient(
      55deg,
      rgb(24, 24, 27),
      rgb(24, 24, 27) 30%,
      rgb(39, 39, 39),
      rgb(24, 24, 27),
      rgb(24, 24, 27) 100%
    );
    border-radius: inherit;
    transition: all 0.2s ease-in-out;
    box-shadow: 0.5rem 1rem 0.4rem rgba(0, 0, 0, 0.25);

    #title {
      color: $secondary-color;
      font-family: Panchang;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: rgba($secondary-color, 0.7);
      text-underline-offset: 1.5rem;
      margin-bottom: 3rem;
    }

    #description {
      color: $secondary-color;
      text-align: center;
      font-family: Satoshi;
      font-weight: 200;
    }

    button {
      height: 15%;
      width: 70%;
      border-radius: 2rem;
      border: none;
      bottom: 0;
      background-color: $accent-color;
      color: $secondary-color;
      box-shadow: 0rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25);
      font-family: Satoshi;
      font-weight: 200;
      font-size: 130%;
      text-transform: capitalize;
      transition: filter 0.2s ease;
    }

    button:hover {
      filter: brightness(1.3);
    }
  }

  .card:hover {
    box-shadow: 0.7rem 1.4rem 0.4rem rgba(0, 0, 0, 0.2);
    filter: brightness(1.3);
  }
}
