<div id="personal-details-form">
  <form action="">
    <div id="name" class="input-container">
      <label for=""><p>Név</p></label>
      <input type="text" placeholder="Vezetéknév" style="margin-right: 1rem" />
      <input type="text" placeholder="Keresztnév" />
    </div>
    <div id="email" class="input-container">
      <label for="email-input"><p>Email</p></label>
      <input type="email" placeholder="nev@domain.com" id="email-input" />
    </div>
    <div id="phone" class="input-container">
      <label for=""><p>Telefonszám</p></label>
      <input type="text" placeholder="+36 20 123 4567" id="email-input" />
    </div>
  </form>
</div>
