<div id="booking">
  <div id="booking-container">
    @if (option == 'company') {
    <h3>Foglalás cégeknek</h3>
    } @else if (option == 'private') {
    <h3>Foglalás magánszemélyeknek</h3>
    } @else if (option == 'pet') {
    <h3>Foglalás kutyásoknak</h3>
    }

    <div id="progress-bar">
      <div class="progress-component active">
        <div class="progress-line"></div>
        <h4>Adatok</h4>
      </div>
      <div class="progress-component">
        <div class="progress-line"></div>
        <h4>Utazás</h4>
      </div>
      <div class="progress-component">
        <div class="progress-line"></div>
        <h4>Áttekintés</h4>
      </div>
    </div>

    @if (index == 0) {
    <app-personal-details-form></app-personal-details-form>
    } @else if (index == 1) {
    <app-ride-details-form></app-ride-details-form>
    }

    <div id="controls">
      <button class="secondary-button" (click)="progressBarPrevious()">
        Vissza
      </button>
      <button class="primary-button" (click)="progressBarNext()">Tovább</button>
    </div>
  </div>
</div>
