@import "../../../styles/variables";

#bulletin {
  color: $secondary-color;
  background-color: rgba(255, 0, 0, 0);
  margin: 5vw 0 3vw 0;

  #title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;

    img {
      filter: invert(1);
      height: 3vh;
      object-fit: contain;
    }
    h1 {
      font-family: Panchang;
      font-weight: 300;
      text-transform: uppercase;
      margin-left: 3vw;
      color: $secondary-color;
    }
  }

  #content {
    display: flex;
    justify-content: center;
    ul {
      margin: 1vw;
      li {
        margin: 0.7vw;
        color: $secondary-color;
        font-family: Satoshi;
        font-size: larger;
        font-weight: 300;
      }
    }
  }
}
