<div class="about-item" appScrollIntoView="in-view">
  <div class="description">
    <h2>Caption</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo natus
      amet ut, labore laborum recusandae quasi nihil aperiam! Quos beatae nemo
      est non fugit id vitae, odit qui a nobis!
    </p>
  </div>
  <img src="images/car.jpg" alt="" />
</div>
<div class="about-item reverse" appScrollIntoView="in-view">
  <div class="description">
    <h2>Caption</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo natus
      amet ut, labore laborum recusandae quasi nihil aperiam! Quos beatae nemo
      est non fugit id vitae, odit qui a nobis!
    </p>
  </div>
  <img src="images/car.jpg" alt="" />
</div>
