<div id="ride-details-form">
  <form action="">
    <div id="location" class="input-container">
      <label for=""><p style="text-align: left">Cím</p></label>
      <input type="text" placeholder="Honnan?" />
      <img src="icons/arrow.png" alt="" id="arrow" />
      <input type="text" placeholder="Hova?" />
    </div>
    <div id="time" class="input-container">
      <label for=""><p>Mikor?</p></label>
      <input type="datetime-local" name="" id="" />
    </div>
    <div id="checkboxes" class="input-container">
      <div id="baggage" class="checkbox-container">
        <label for="baggage-cb" class="label-text"><p>Poggyász</p></label>
        <label class="round-checkbox">
          <input type="checkbox" id="baggage-cb" />
          <span></span>
        </label>
      </div>
      <div id="return" class="checkbox-container">
        <label for="return-cb" class="label-text"><p>Retúr</p></label>
        <label class="round-checkbox">
          <input type="checkbox" id="return-cb" />
          <span></span>
        </label>
      </div>
    </div>
    <div id="comment" class="input-container">
      <label for="comment-cb"><p>Megjegyzés</p></label>
      <textarea name="comment-cb" id="comment-cb" style="height: 10vh;"></textarea>
    </div>
  </form>
</div>
