<header>
  <img src="images/SVG/szoveglogo_1_szurke.svg" alt="" />
</header>

<div id="about-container">
  <app-about-item
    [caption1]="'Rólam és Tapasztalataimról'"
    [description1]="
      'Közel 30 éve vezetek. Az utazás mindig is szenvedélyem volt. Életem során számtalan helyet bejártam, rengeteg tapasztalatot gyűjtöttem, és egy dologban biztos vagyok: a közlekedés egy igazi társasjáték. Nem elég csak a saját hibáinkra figyelni; a biztonság érdekében mások hibáinak előrelátása is elengedhetetlen.'
    "
    [imageURL1]="'images/_DSC1219-Edit_sm.jpg'"
    [caption2]="'Maximális Biztonság és Élmény'"
    [description2]="
      'Munkámban mindig a maximumra törekszem, így a vezetésben is. Számos vezetéstechnikai tréningen vettem részt, amelyek nemcsak a tudásomat bővítették, hanem felejthetetlen élményekkel is gazdagítottak.'
    "
    [imageURL2]="'images/_DSC1219-Edit_sm.jpg'"
  ></app-about-item>
  <app-about-item
    [caption1]="'Az Utazás Élményének Fontossága'"
    [description1]="
      'Az utazás páratlan élmény, és vállalkozásunk célja, hogy teljesítse utasaink elvárásait, megkönnyítve számukra az utazás örömeinek megélését. Hiszünk abban, hogy az út nem csak a kiinduló- és célpont közötti távolság, hanem az útközben átélt pillanatok összessége. Az utazás velejárója az izgalom – engedje meg, hogy levegyük a terhet a válláról!'
    "
    [imageURL1]="'images/_DSC1219-Edit_sm.jpg'"
    [caption2]="'Bízunk Abban, Hogy Segíthetünk Önnek!'"
    [description2]="'Reméljük, hogy szolgáltatásainkkal hozzájárulhatunk az Ön felejthetetlen utazási élményeihez!'"
    [imageURL2]="'images/_DSC1219-Edit_sm.jpg'"
  ></app-about-item>
</div>

<div id="background"></div>
