<section class="hero">
  <div class="heroContent">
    <img src="SVG/szoveglogo_1_szurke.svg" alt="" appScrollIntoView="in-view"/>
  </div>
  <section class="bulletin">
    <div class="line" appScrollIntoView="in-view"></div>
    <div id="bulletinContainer">
      <app-bulletin
        [title]="'Biztonság'"
        [content]="['valami meggyőző dolog','mégtőbb meggyőző dolog', 'stb...']"
      ></app-bulletin>
      <app-bulletin [title]="'Title 2'"></app-bulletin>
      <app-bulletin [title]="'Title 3'"></app-bulletin>
    </div>
  </section>
</section>

<section id="reserveCards">
  <h1 appScrollIntoView="in-view" id="caption">caption</h1>
  <div class="cardContainer">
    <app-reserve-card [title]="'option_1'"></app-reserve-card>
    <app-reserve-card [title]="'option_2'"></app-reserve-card>
    <app-reserve-card [title]="'option_3'"></app-reserve-card>
  </div>
</section>

<div id="backgroundDesign"></div>
