<div id="ride-details-company-form">
  <form action="">
    <div id="location" class="input-container">
      <label for="from"><p style="text-align: left">Cím</p></label>
      <input type="text" placeholder="Honnan?" name="from" id="from" [(ngModel)]="formValues.from" />
      <img src="images/icons/arrow.png" alt="" id="arrow" />
      <input type="text" placeholder="Hova?" name="to" id="to" [(ngModel)]="formValues.to" />
    </div>

    <div id="time" class="input-container">
      <label for="datetime"><p>Mikor?</p></label>
      <input type="datetime-local" name="datetime" id="datetime" [(ngModel)]="formValues.datetime" />
    </div>

    <div id="numbers" class="input-container">
      <div>
        <label for="passengers"><p>Utasok száma</p></label>
        <input
          type="number"
          name="passengers"
          id="passengers"
          min="1"
          max="10"
          placeholder="1 fő"
          [(ngModel)]="formValues.passengerNumber"
        />
      </div>

      <div>
        <label for="ride-time"><p>Fuvar idő</p></label>
        <input
          type="number"
          name="ride-time"
          id="ride-time"
          min="1"
          max="24"
          placeholder="1 óra"
          [(ngModel)]="formValues.length"
        />
      </div>

      <div>
        <label for="ride-time"><p>Várakozási idő</p></label>
        <input
          type="number"
          name="ride-time"
          id="ride-time"
          min="1"
          max="24"
          placeholder="1 óra"
          [(ngModel)]="formValues.waitTime"
        />
      </div>
    </div>

    <div id="comment" class="input-container">
      <label for="comment-text"><p>Megjegyzés</p></label>
      <textarea
        name="comment-text"
        id="comment-text"
        style="height: 10vh"
      ></textarea>
    </div>

    <button type="button" (click)="onPrevious()">Previous</button>
    <button type="submit">Submit</button>
  </form>
</div>
