#ride-details-company-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40vw;

  margin: 10vh 0 10vh 0;
  form {
    #location {
      text-align: center;

      img {
        transform: rotate(90deg);
        width: 3rem;
        padding: 5px;
      }
    }

    #checkboxes {
      display: flex;
      justify-content: space-evenly;

      .checkbox-container {
        display: flex;
        align-items: center;

        .label-text {
          margin-right: 1rem;
        }

        input[type="checkbox"] {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }

    #numbers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input[type="number"] {
        width: 8vw;
      }
    }
  }
}

@media (max-width: 1100px) {
  #ride-details-form {
    width: 100%;
  }
}
